@{
    var js = "";
    if (ViewData["js"] != null)
    {
        js = ViewData["js"].ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Google Font: Source Sans Pro -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="~/lib/teamplate_back_end/fontawesome-free/css/all.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="~/teamplate_back_end/css/adminlte.min.css">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="~/lib/teamplate_back_end/overlayScrollbars/css/OverlayScrollbars.min.css">
      <!-- Daterange picker -->
      <link rel="stylesheet" href="~/lib/teamplate_back_end/daterangepicker/daterangepicker.css">
      <!-- summernote -->
      <link rel="stylesheet" href="~/lib/teamplate_back_end/summernote/summernote-bs4.min.css">
      <!-- toastr -->
      <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
   @await RenderSectionAsync("css", required: false)
</head>
<body class="layout-fixed control-sidebar-slide-open sidebar-mini">
<div class="wrapper">
        @Html.Partial("~/Views/Back-end/Component/Header.cshtml")
        @Html.Partial("~/Views/Back-end/Component/SideBar.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Back-end/Component/Footer.cshtml")}
</div>
<!-- jQuery -->
<script src="~/lib/teamplate_back_end/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/lib/teamplate_back_end/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/lib/teamplate_back_end/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Summernote -->
<script src="~/lib/teamplate_back_end/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/lib/teamplate_back_end/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/teamplate_back_end/js/adminlte.js"></script>
<!-- Toastr -->
<script src="~/lib/toastr/toastr.min.js"></script>
<script src="~/js/jquery.tmpl.js"></script>
<script src="~/js/back_end/Home/adminHome.js"></script>
<script src="@js"></script>  
</body>
</html>
